form#demo-form.white-popup-block.form-horizontal
    .row
     .col-sm-12
      h4 Basic Form
      p.mb-lg
        | Add task by providing a task title and a description.
    .form-group.mt-lg
     label.col-sm-3.control-label Title
     .col-sm-9
       input.form-control(type='text', name='name', placeholder='Type your task title...', required='')
    .form-group
      label.col-sm-3.control-label Description
      .col-sm-9
       textarea.form-control(rows='5', placeholder='Type your task detail...', required='')
    .row.mb-lg
     .col-sm-9.col-sm-offset-3
      button.btn.btn-primary Submit
     