form#demo-form.white-popup-block.form-horizontal
    .row
     .col-sm-12
      h4 Basic Form
      p.mb-lg
        | Add task by providing a task title and a description.
    .form-group.mt-lg
     label.col-sm-3.control-label Title
     .col-sm-9
       input.form-control(type='text', name='name',ng-model = 'task.title' ,placeholder='Type your task title...', required='',style="color: #C0C0C0")
    .form-group
      label.col-sm-3.control-label Description
      .col-sm-9
       textarea.form-control(rows='5',ng-model = 'task.description', placeholder='Type your task detail...', required='',style="color: #C0C0C0")
    .row.mb-lg
     .col-sm-9.col-sm-offset-3
      button.btn.btn-primary(ng-click="taskAddSubmit()") Submit
     