section.call-to-action.with-borders.with-button-arrow.mb-xl
  .call-to-action-content
    h3
      | Add a
      strong Task
    p
      | 
      strong Its free
      |  And always will be
  .call-to-action-btn.mt-lg
   a.popup-with-form.btn.btn-primary(href='#/addtask') Add Task!
.heading.heading-border.heading-middle-border.heading-middle-border-center(ng-show='noData')
  h1
    strong| No Task Found

.col-md-6(ng-repeat='task in taskList',ng-show="!noData")
    .featured-box.featured-box-primary.featured-box-text-left(style='height: 301px;')
      .box-content
        .row
          .col-md-9
            h2(ng-bind="task.title",style='font-weight:bold')
          //- .col-md-2
          //-   .align-right
          //-     i.icon-featured.fa.fa-user
        .row
          .col-md-12
            p(ng-bind="task.description",style='font-size:150%;color:orange;')
            button.btn.btn-lg.btn-primary.mr-xs.mb-lg(type='button') Update
            button.btn.btn-lg.btn-primary.mr-xs.mb-lg(type='button') Delete
  
   

    //- span.arrow.hrb(style='top: -88px; left: -24px;')
//-script(src='js/theme.init.js')