section.call-to-action.with-borders.with-button-arrow.mb-xl
  .call-to-action-content
    h3
      | Add a
      strong Task
    p
      | 
      strong Its free
      |  And always will be
  .call-to-action-btn.mt-lg
   a.popup-with-form.btn.btn-primary(href='#/addtask') Add Task!
   

    //- span.arrow.hrb(style='top: -88px; left: -24px;')